.content-hero {
  display: flex;
}

.img-hero {
  width: 100vh;
}

.center {
  align-items: center;
  background-color: rgb(225, 245, 254);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.form-login {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 320px;
  justify-content: center;
  padding: 5px;
  width: 420px;
}

.form-buttons {
  display: flex;
  justify-content: space-around;
}

.center img {
  align-self: center;
  margin-bottom: 15px;
  width: 40%;
}

.center div label {
  align-self: center;
  width: 100%;
}

.center div input {
  border-radius: 5px;
  height: 45px;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 98%;
}

.settings, .btn-settings {
  align-self: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  margin: 5px;
  width: 40%;
}

.btn-settings {
  margin: 0;
  width: 100%;
}

.btn-settings:hover {
  cursor: pointer;
  transition: 1.5;
}
