.container {
  align-items: center;
  background-color: rgba(177, 211, 255, 0.527);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 500px;
  margin-top: 15px;
  width: 70%;
}

.container-question {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40%;
  padding: 20px;
  width: 100%;
}

.container-answers {
  display: flex;
  flex-wrap: wrap;
  height: 60%;
  justify-content: center;
  width: 100%;
}

.answers {
  cursor: pointer;
  height: 60px;
  margin: 5px;
  width: 48%;
}

.answers h5 {
  margin: 0;
}

.answers:hover {
  background-color: rgba(0, 139, 7, 0.418);
}


.container-btn {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 80%;
}

.btn-next {
  cursor: pointer;
  height: 50px;
  width: 90%;
}

.content-timer {
  bottom: 16%;
  left: 23%;
  position: absolute;
}

.timer {
  font-size: 80px;
}
